
@keyframes move{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: -1600px 0;
    }
}

.box{
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to top, #a1c4fd 0%, #fff 100%);
  .logo-box{
    width: 50%;
    min-width: 300px;
    height: 100px;
    margin: 0 auto;
    margin-top: 20vh;
    border-bottom: 2px solid #000;
    .bear{
      margin: 0 auto;
      margin-bottom: 0;
      width: 200px;
      height: 100px;
      overflow: hidden;
      background-image: url(../../assets/image/bear1.png);
      animation: move 1s steps(8) infinite;
    }
  }
  .text-box{
    width: 50%;
    min-width: 300px;
    height: 100px;
    margin: 0 auto;
    padding: 0 20px;
    .title{
      font-size: 28px;
      font-weight: bold;
      height: 48px;
      line-height: 48px;
    }
    .list-box{
      ul{
        margin-top: 5px;
        li{
          font-size: 14px;
          margin-left: 24px;
          height: 24px;
          line-height: 24px;
        }
      }
    }
  }
}